.addCaseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    border: 2px solid var(--primary-color);
    margin: 0 auto;
    width: 700px;
    margin-top: 30px;
    padding: 7px;
  }
  
  .casesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--primary-color);
    border-bottom: 0;
    margin: 0 auto;
    width: 700px;
    padding: 7px;
}
.caseListItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.caseListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
    min-width: 700px;
      border: 1px solid var(--primary-color);
      font-family: "Oswald", sans-serif;
      padding: 7px;
      color: var(--secondary-color);
      
}
  

.caseDeleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
  cursor: pointer;
}
.fileUploadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  margin: 0 auto;
  width: 700px;
  margin-top: 30px;
  padding: 7px;
}

.casesHeader {
  font-family: 'Oswald',
    sans-serif;
  color: var(--primary-color);
}

.caseContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatOuterContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.chatContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  border-bottom: 0;
  margin: 0 auto;
  width: 700px;
  padding: 5px;
}

.chatHeader {
  display: flex;
  font-family: 'Oswald',
    sans-serif;
  color: var(--primary-color);
  justify-content: center;
  font-size: 14px;
}

.chatInfoContainer {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  border-bottom: 0;
  margin: 0 auto;
  width: 700px;
  padding: 7px;
  font-family: "Oswald", sans-serif;
  overflow: auto;
}

.sendContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  margin: 0 auto;
  width: 700px;

  padding: 7px;
}

.caseInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  margin: 0 auto;
  width: 700px;
  font-family: "Oswald", sans-serif;
  padding: 7px;
}