.addCaseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.caseListItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caseListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  max-width: 80%;
}
  

.caseDeleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border: 1px solid red;
  cursor: pointer;
}