body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* colors */
  --primary-color: #6506FF;
  --primary-color-hover: #4D00E3;
  --primary-color-active: #3A00C8;
  --secondary-color: #CBACFF ;
  --secondary-color-hover: #B38AFF;
  --secondary-color-active: #9C6EFF;
  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;
  /* other */
  --border-radius: 5px;
  --margin: 7px;
}

* {
  box-sizing: border-box;
  font-size: 14px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border: 1.5px solid var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--secondary-text-color);
  font-weight: bold;
  cursor: pointer;
  margin: var(--margin);
}

.appInput {
  height: 30px;
  border: 1.5px solid var(--secondary-color);
  color: var(--primary-text-color);
  border-radius: var(--border-radius);
  padding: 0 10px;
  margin: var(--margin);
}