@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./components/assets/bg.png');
  background-repeat: repeat;
  background-size: 200px 200px;
  color: var(--primary-text-color);
}

:root {
  /* colors */
  --primary-color: #6506FF;
  --primary-color-hover: #4D00E3;
  --primary-color-active: #3A00C8;
  --primary-color-light: #F1E8FF;
  --secondary-color: #CBACFF ;
  --secondary-color-hover: #B38AFF;
  --secondary-color-active: #9C6EFF;
  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;
  /* other */
  --border-radius: 5px;
  --margin: 7px;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
}

.button {
  cursor: pointer;
}

.appButton {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--secondary-text-color);
  cursor: pointer;
  margin: var(--margin);
  padding: 7px 28px;
}
.appButton:hover {
  background-color: var(--primary-color-hover);
}
.appInput {
  height: 42px;
  border: 1.5px solid var(--secondary-color);
  color: var(--primary-text-color);
  border-radius: var(--border-radius);
  padding: 0 10px;
  margin: var(--margin);
  transition: background-color 0.2s ease-in-out;
  outline: none;
  padding: 7px 28px;
}
.appInput:hover {
  background-color: var(--primary-color-light);
}
.addNewCase {
  color: var(--primary-color);
}

.fileUpload {
  color: var(--primary-color);
}

.logoContainer {
  position: relative;
  padding: 3px;
}

.logo {
  font-family: 'Oswald', sans-serif !important;
  color: #130036;
  font-size: 2rem;
}

.logo.dark {
  color: var(--primary-color);
  margin-left: 1px;
}

.logo.big {
  font-size: 4rem;
}