.authContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/justice.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.authInnerContainer {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    border-radius: var(--border-radius);
}

.appAuthTitle {
    margin-bottom: 10px;
}